.arrow-up {
  &.active {
    color: black; // Color para el ícono activo
  }

  &.inactive {
    color: #a0a0a0; // Color más claro para el ícono inactivo
  }
}

.arrow-down {
  &.active {
    color: black; // Color para el ícono activo
  }

  &.inactive {
    color: #a0a0a0; // Color más claro para el ícono inactivo
  }
}

body {
  font-family: Archivo, sans-serif;
}
