* {
  
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .logo {
    width: 130px;
    height: auto;
  }
  .carrito {
    width: 40px;
    height: auto;
  }
}

.cartCounter{
  display: flex;
}

.separator-line {
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 15px;
}

.separator-line2 {
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 50px;
}

.title {
  display: flex;
}

.featured {
  margin-bottom: 50px;

  img {
    width: 100%;
    margin-bottom: 50px;
  }
}

.addToCart {
  display: flex;
  justify-content: flex-end;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.productsSectionInner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.headerProductList {
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  display: flex;

  .premium {
    margin: 0 5px;
    color: rgba(0, 0, 0, 0.205);
  }
}
.featuredHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;

  p {
    font-weight: bold;
  }

  button {
    display: flex;
    justify-content: center;
    width: 150px;
    background-color: black;
  }
}

.lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Crea 3 columnas de igual ancho */
  gap: 10px;
}
.featuredDescription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.alsoTitle {
  display: flex;
}

.alsoBuy {
  display: flex;
  flex-direction: row;
  gap: 30px;

  > div {
    width: 125px;

    img {
      height: 150px;
    }

    .content {
      display: flex;
      flex-direction: column;
      height: 120px;
      justify-content: space-between;
    }
  }
}

.productTitle {
  font-weight: 600;
}
.similarContent {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  h3 {
    margin-bottom: 25px;
  }
}

.categories {
  ol {
    display: flex;
    gap: 5px;
    margin: 25px;
  }
  h3{
    margin: 25px;
  }
}



.featuredInner {
  display: flex;
  flex-direction: column;
  gap: 5px;

  img {
    width: 180px;
    height: 250px;
    object-fit: cover;
  }
}
.orden {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.active {
  color: rgba(245, 13, 13, 0.082); /* O cualquier color que desees para resaltar la flecha activa */
}


// @media all and (min-width: 600px) and (max-width: 768px) {

//   .header {
//     flex-direction: column;
//     align-items: center;
  
//     .logo {
//       width: 100%;
//     }
  
//     .carrito {
//       width: 30px;
//     }
  
//     .featured img {
//       margin-bottom: 10px;
//     }
  
//   }
// }

//  @media all and (max-width: 1400px) {

// }

//  @media all and (max-width: 600px) {

// }

// @media (min-width: 992px) {

// }
